<!-- app.component.html -->
<header class="d-flex align-items-center p-2 shadow-sm">
  <img src="../assets/foto-perfil.jpg" alt="Foto de perfil" class="profile-pic me-2"> 💬 Momo 🐢
</header>

<div class="chat-container" id="chat">
  <div class="message bot text-center">Hola, mi amor. ¡Feliz aniversario! ❤️</div>
  <div *ngFor="let msg of messages" class="message p-2 rounded" [ngClass]="msg.sender">
      {{ msg.text }}
  </div>
</div>

<!-- Sección de botones de opciones -->
<footer class="container-fluid fixed-bottom bg-dark text-white py-3 d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-center gap-3 w-75">
      <button *ngFor="let btn of buttonSets[currentSet]; let i = index"
              class="btn btn-primary flex-grow-1 py-2"
              (click)="sendMessage(i)">
          {{ btn.text }}
      </button>
      <span class="text-white ms-3"><i class="fas fa-paper-plane fa-lg"></i></span>
  </div>
</footer>