<header>
  <img src="foto-perfil.jpg" alt="Foto de perfil" class="profile-pic"> 💬 Momo 🐢
</header>
<div class="chat-container" id="chat">
  <div class="message bot">Hola, mi amor. ¡Feliz aniversario! ❤️</div>
  <div *ngFor="let msg of messages" class="message" [ngClass]="msg.sender">
      {{ msg.text }}
  </div>
</div>
<div class="container fixed-bottom bg-white p-3 shadow">
  <div class="row">
      <div class="col-6">
          <button class="btn btn-primary w-100" (click)="sendMessage(1)">Gracias, mi vida 💕</button>
      </div>
      <div class="col-6">
          <button class="btn btn-danger w-100" (click)="sendMessage(2)">Awww, te amo 😍</button>
      </div>
  </div>
</div>